{% if 'ingress' == tower_ingress_type|lower %}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: '{{ meta.name }}-ingress'
  namespace: '{{ meta.namespace }}'
{% if tower_ingress_annotations %}
  annotations:
    {{ tower_ingress_annotations | indent(width=4) }}
{% endif %}
spec:
  rules:
    - host: '{{ tower_hostname }}'
      http:
        paths:
          - path: /
            backend:
              serviceName: '{{ meta.name }}-service'
              servicePort: 80
{% if tower_ingress_tls_secret %}
  tls:
    - hosts:
        - {{ tower_hostname }}
      secretName: {{ tower_ingress_tls_secret }}
{% endif %}
{% endif %}
